langchain
langchain-core
langchain-community
pypdf
pymupdf
ipykernel
tqdm
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python_dotenv
typesense
langchain_text_splitters
langchain_openai
langgraph
ipywidgets